.idea
venv/
.venv/
.vscode/
Videos/
__pycache__/
.ipynb*/
*.ipynb
*.log
p
*.pyc
*.pyo
screenshots/*.jpg
screenshots/capture/*.jpg
screenshots/predefined_*/
*.avi
trash.py
*test.py
Unittest_recursive.py
